html {
    font-family: "roboto", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


.page {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 8px 10%;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.hero-ban {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    background-color: #1f2937;
    padding: 50px 10%;
}

.hero-img {
    width: 700px;
}

.hero-main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    max-width: 400px;
}


.hero-text {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-button {
    width: 150px;
    padding: 8px;
    font-size: 16px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px 15%;
    width: auto;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 700px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.card-img {
    border: #3882F6 solid 4px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 20%;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;

}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
    color: #1f2937;
    margin-top: 15px;
    margin-right: 10px;
}


.cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 100px 10%;
    padding: 50px 10%;
}

.cta-alltext {
    display: flex;
    flex-flow: column wrap;
}

.cta-title-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.cta-text {
    color: white;
    font-size: 18px;
}

.cta-button {
    width: 150px;
    padding: 8px;
    font-size: 16px;
    background-color: #3882F6;
    border: white solid 3px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #e5e7eb;
}